<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="userPanel.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <aside id="sitePanel">
      <img
        src="../important images/008.jpg"
        id="Panelimg"
        class="minimum"
        alt=""
      />
      <p id="icons" class="">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </p>
      <p id="icons" class="">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </p>
      <p id="icons" class="">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </p>
      <p id="icons" class="">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </p>
      <p id="icons" class="">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </p>
    </aside>
  </body>
</html>
