#sitePanel {
  float: right;
  border: 1px solid beige;
  background-color: burlywood;
  height: 500px;
  width: 5%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 95%;
  position: fixed;
}
#Panelimg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding-left: 2mm;
}
#sitePanel:hover {
  width: 14%;
  margin-left: 86%;
}
